REACT_APP_SECRET_CODE={"apiKey": "AIzaSyDXd2ir8JwMII8fdr6nJmV5gR9za67efIY","authDomain": "pep-law-react.firebaseapp.com","databaseURL": "https://pep-law-react.firebaseio.com","projectId": "pep-law-react","storageBucket": "pep-law-react.appspot.com","messagingSenderId": "39438798001","appId": "1:39438798001:web:6c78e07dca0092f2a2e690"}
REACT_APP_LAWYER={"apiKey": "AIzaSyDM4fmywCS-iGcP_RGpoyOpP4n-0VRpP6k","authDomain": "peplawlawyer.firebaseapp.com","projectId": "peplawlawyer","storageBucket": "peplawlawyer.appspot.com","messagingSenderId": "868188741932","appId": "1:868188741932:web:ddf7ee83d763e9a88acc89"}
